---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Section from "../components/Section.astro";
import BestStory from "./story/BestStory.vue";
import TodaysHugging from "./story/TodaysHugging.vue";
import TheLatestStories from "./story/TheLatestStories.vue";
import SectionSpacer from "../components/SectionSpacer.astro";
import InvestorGrid from "../components/InvestorGrid.astro";
import FirstLoader from "../components/FirstLoader.vue";
---

<Layout title="Welcome to Beeyond The Pages.">
  <FirstLoader client:load />
  <Header gridBg>
    <small class="small">Do you believe those words are magic?</small>
    <h2 class="text-6 leading-6 lg:text-20 lg:leading-20">
      “A few nice words can help a person more than what you think,<mark
        class="bg-blue-400 bg-opacity-45"
      >
        watch your words.</mark
      >”
    </h2>
    <p class="text-3 lg:text-6 subtitle w-85% lg:w-50% mx-auto mt-2 lg:mt-5">
      I wasn't aware that words could hold so much. I didn't know a sentence
      could be so full.
    </p>
  </Header>
  <main>
    <Section index source=".....THE BEST STORIES IN WEEK" fullWidthBorder>
      <BestStory client:load />
    </Section>
    <SectionSpacer
      size="sm"
      text="TODAY'S HUGGINGS"
      link="/"
      linkText="View All"
    />
    <Section index padBlock={false}>
      <TodaysHugging client:load />
    </Section>
    <SectionSpacer
      size="sm"
      text="THE LATEST STORIES"
      link="/"
      linkText="View All"
    />
    <Section index padBlock={false}>
      <TheLatestStories client:load />
    </Section>
    <SectionSpacer size="sm" />
    <Section variant="dark" source="statement.md" fullWidthBorder>
      <div class="lg:w-[90%] md:w-[70%] mx-auto">
        <h2 class="title">Belief Statement</h2>
        <p class="subtitle-mall">
          “For what it’s worth: it’s never too late or, in my case, too early to
          be whoever you want to be. There’s no time limit, stop whenever you
          want. You can change or stay the same, there are no rules to this
          thing. We can make the best or the worst of it. I hope you make the
          best of it. And I hope you see things that startle you. I hope you
          feel things you never felt before. I hope you meet people with a
          different point of view. I hope you live a life you’re proud of. If
          you find that you’re not, I hope you have the courage to start all
          over again.” - <i>Benjamin Button</i>
        </p>
      </div>
    </Section>
    <SectionSpacer size="sm" />
    <Section index source="investors.md" fullWidthBorder>
      <div class="pb-12.5">
        <h2 class="title">People who give us money!</h2>
        <p class="subtitle-small md:w-[50%]">
          There's literally dozens of them, and they all want to be listed below
          to get some sort of credit for our work.
        </p>
      </div>
      <InvestorGrid />
    </Section>
    <SectionSpacer />
    <Section
      index
      source="sentence.shoftime"
      fullWidthBorder
      variantInside="dark"
    >
      <div class="place-items-center gap-5 mt-1 lg:mt-0">
        <h2
          class="text-pretty title text-5 lg:text-8 leading-5 lg:leading-8 font-bold c-gray-800 dark:c-gray-100"
        >
          You can't skip chapters, that's not how life works. You have to read
          every line, meet every character. You won't enjoy all of it, Hell,
          some chapters will make you cry for weeks. You will read things you
          don't want to read, you will have moments when you don't want the
          pages to end. But you have to keep going. Stories keep the world
          revolving.<br /><span class="c-gray-500 dark:c-gray-300 text-[0.9em]"
            >Live yours, don't miss out!</span
          >
        </h2>
      </div>
    </Section>
  </main>
</Layout>
