---

---

<div class="flex flex-col lg:flex-row gap-3 lg:gap-5 mt-2 lg:mt-0">
    <!-- left -->
    <div class="lg:basis-2/3">
      <img
        src="/public/assets/ahtziri-lagarde-LSMpNaq0lGY-unsplash.jpg"
        alt="Bee"
        class="lg:fixed-size"
      />
      <!-- resource -->
      <div class="flex flex-row justify-between mt-1">
        <p class="small small-left">Jan 19 &bull; 15 min read</p>
        <p class="small small-left">--- Life By Andre Adyatmoko</p>
      </div>
      <!-- title -->
      <a href=/detail>
        <h2 class="lg:title-blog mb-2 left-title">
          Embracing the Journey – Finding Meaning in Every Chapter
        </h2>
      </a>
      <!-- content -->
      <p class="subtitle-small left-subtitle">
        If Paris Fashion Week in digital form has remained saturated with
        propositions and visions of the clothes we will be seeing-and perhaps
        wearing -in a few months, it's only natural to be feeling a certain
        wistfulness for the experience as it used to be not so long ago it's only
        natural to be feeling a cert.......
      </p>
    </div>
    <div class="border-b-1 border-b-gray-200 lg:border-r-1 border-r-gray-200">
    </div>
    <!-- right -->
    <div class="flex flex-row lg:flex-col gap-3 lg:basis-1/3 lg:max-h-[200px]">
      <div>
        <img
          src="/public/assets/jon-tyson-XzUMBNmQro0-unsplash.jpg"
          alt="Bee"
          class="w-full h-auto min-h-[100px] max-h-[190px] object-cover"
        />
        <!-- resource -->
        <div class="flex flex-row justify-end lg:justify-between mt-1">
          <p class="small small-right hidden-mobile">Jan 20 &bull; 7 min read</p>
          <p class="small small-right">--- Love By Noah Calhoun</p>
        </div>
        <a href=/detail>
          <!-- tittle -->
          <h2 class="project-title mb-0 lg:mb-2 right-title">
            The Many Faces of Love – A Guide to Heartfelt Connections
          </h2>
        </a>
        <div class="hidden-desktop flex flex-row justify-between mt-1">
          <p class="small small-right">Jan 20 &bull;</p>
          <p class="small small-right">7 min read</p>
        </div>
        <!-- content -->
        <p class="subtitle-small right-subtitle">
          If Paris Fashion Week in digital form has remained saturated with
          propositions and visions of the clothes we will be seeing-and perhaps
        </p>
      </div>
      <div>
        <img
          src="/public/assets/rishabh-dharmani-x0gw9YspcR4-unsplash.jpg"
          alt="Bee"
          class="w-full h-auto min-h-[100px] max-h-[190px] object-cover"
        />
        <!-- resource -->
        <div class="flex flex-row justify-end lg:justify-between mt-1">
          <p class="small small-right hidden-mobile">Feb 21 &bull; 5 min read</p>
          <p class="small small-right">--- Loss By Rishabh Dharmani</p>
        </div>
        <!-- tittle -->
        <a href=/detail>
          <h2 class="project-title mb-0 lg:mb-2 right-title">
            Healing Through Grief – Finding Strength in Letting Go
          </h2>
        </a>
        <div class="hidden-desktop flex flex-row justify-between mt-1">
          <p class="small small-right">Feb 21 &bull;</p>
          <p class="small small-right">5 min read</p>
        </div>
        <!-- content -->
        <p class="subtitle-small right-subtitle">
          If Paris Fashion Week in digital form has remained saturated with
          propositions and visions of the clothes we will be seeing-and perhaps
        </p>
      </div>
    </div>
  </div>
  
  <style>
    @media (min-width: 768px) {
      .hidden-desktop {
        display: none;
      }
    }
  
    @media (max-width: 767px) {
      .small-left {
        font-size: 0.5rem; /* Mengurangi ukuran font */
        line-height: 1.4; /* Sesuaikan tinggi baris */
      }
      .left-title {
        font-size: 0.9rem; /* Mengurangi ukuran font judul */
        margin-bottom: 0.5rem; /* Sesuaikan margin */
      }
      .left-subtitle {
        font-size: 0.8rem; /* Mengurangi ukuran font subtitle */
        line-height: 1.4; /* Sesuaikan tinggi baris */
      }
      .hidden-mobile {
        display: none;
      }
    }
  
    .small-right {
      font-size: 0.5rem; /* Mengurangi ukuran font */
      line-height: 1.4; /* Sesuaikan tinggi baris */
    }
    .right-title {
      font-size: 0.9rem; /* Mengurangi ukuran font judul */
    }
    .right-subtitle {
      font-size: 0.8rem; /* Mengurangi ukuran font subtitle */
      line-height: 1.4; /* Sesuaikan tinggi baris */
    }
    .fixed-size {
      width: 695px; /* Tetapkan lebar tetap */
      height: 480px; /* Tetapkan tinggi tetap */
      object-fit: cover; /* Pastikan gambar tidak terdistorsi */
      object-position: center; /* Atur posisi gambar */
    }
    a {
      transition:
        opacity 0.3s ease,
        text-decoration 0.3s ease;
    }
  
    a:hover {
      opacity: 0.6;
      text-decoration: underline;
    }
  </style>
  