---
import Logo from "./Logo.astro";
import Text from "@/components/fundations/elements/Text.astro";
import StarBottomLeft from "../assets/StarBottomLeft.astro";
import StarBottomRight from "../assets/StarBottomRight.astro";
import StarTopLeft from "../assets/StarTopLeft.astro";
import StarTopRight from "../assets/StarTopRight.astro";
---

<nav class="mb-8 z-50">
  <div
    class="flex py-2 px-2 relative border border-dashed border-zinc-300 dark:border-zinc-700"
  >
    <StarTopLeft />
    <StarTopRight />
    <StarBottomLeft />
    <StarBottomRight />
    <div class="flex items-center">
      <Logo />
    </div>
    <div class="flex text-white items-center space-x-8">
      <Text tag="a" href="/features">
        <Text variant="textBase"> Features </Text>
      </Text>
      <Text href="/pricing">
        <Text tag="span" variant="textBase"> Pricing </Text>
      </Text>
      <Text href="/docs">
        <Text tag="span" variant="textBase"> Docs </Text>
      </Text>
    </div>
  </div>
</nav>
